@tailwind base;
@tailwind components;
@tailwind utilities;

.form-bg{
    background-image: url(https://images.unsplash.com/photo-1578652520385-c05f6f3b5de3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-name{
    display: none;
}
.profile-picture:hover .profile-name{
    display: block;
}